@font-face {
    font-family: 'digital-7';
    src: url('digital-7.ttf');
}

.unit {
    position: relative;
    margin: 100px auto;
    height: 500px;
    width: 500px;
    border-radius: 250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    background-color: hsl(0,0%,90%);
}

/*DIGITAL DISPLAY*/

.digitalDisplay {
    position: absolute;
    top: 100px;
    left: 75px;
    width: 350px;
    color: #fff;
    background: #000;
    font-family: 'digital-7', sans-serif;
    box-shadow: inset 5px 5px 5px #555;
    border-radius: 5px;
}

.targetScore {
    text-align: center;
    font-size: 1.4em;
}

.player {
    font-size: 1.5em;
    display: inline-block;
    margin: 15px auto;
    width: 49%;
    text-align: center;
}

.scores {
    text-align: center;
    font-size: 5em;
    margin-top: -100px;
}

.scores p {
    margin-bottom: 0;
}

.p1 {
    color: red;
}

.p2 {
    color: #1EA6F5;
}

.winner {
    color: green;
}

#changeGames {
    text-align: center;
    position: absolute;
    width: 15%;
    top: 50px;
    left: 150px;
}

#changeSets {
    text-align: center;
    position: absolute;
    width: 15%;
    top: 50px;
    right: 150px;
}

::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
:-ms-input-placeholder {  
   text-align: center;
}

#p1Button {
    position: absolute;
    color: red;
    font-weight: bold;
    left: 150px;
    bottom: 60px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%);
}

#p1Button:focus {
    outline: none;
}

#p2Button {
    position: absolute;
    color: #1EA6F5;
    font-weight: bold;
    right: 150px;
    bottom: 60px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%);
}

#p2Button:focus {
    outline: none;
}

#resetButton {
    position: absolute;
    color: orangered;
    font-weight: bold;
    right: 230px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%);
}

#resetButton:focus {
    outline: none;
}